name: Unity Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout repo with submodule
        uses: actions/checkout@v3
        with:
          submodules: true
          persist-credentials: false
          token: ${{ secrets.privatetoken }}

      - name: Run Unity Build
        run: |
          call C:\Users\Aaron\Desktop\Builds\TestBuildAndroid.bat
