name: Unity Build

on:
  workflow_dispatch: # manual trigger

jobs:
  build:
    runs-on: [self-hosted, Windows, X64] # ensures it runs on your self-hosted runner
    steps:
      - name: Checkout public repo
        uses: actions/checkout@v3
        with:
          submodules: true # pulls private repo as submodule

      - name: Run Unity Build
        run: |
          call C:\Users\Aaron\Desktop\Builds\BuildAndroid.bat
